section.contact {
  .contact-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    @extend .justify-content-center;

    a.contact__link {
      font-size: 48px;
    }
  }
}