nav {
  padding-top: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;

  .navbar-menu {
    padding-top: 15px;
  }

  .navbar__item {
    margin-left: 50px;
    font-size: 20px;
    margin-top: 15px;
  }

}  


.social-nav {
  display: flex;
  align-items: center;
  position: absolute;
  right: 25px;
  transform: rotate(90deg) translate(100%, 20%);
  transform-origin: 100% 50%;

  a.social-nav__item > img {
    height: 25px;
  }

  a.social-nav__item {
    margin-left: 20px;
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) all 0.2s;
    &:hover { opacity: 0.5; }
  }
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 0;

  a.navbaritem {
    margin-right: 50px;
    font-size: 22px;
    &:last-child { margin-right: 0; }
  }
}