.skills {

  ul.skills-list {
    width:75%;
    padding-left: 0;

    li.skills-list-item {
      list-style-type: none;
      margin-top: 40px;
    }
  }  
}

.progress {
  display: flex;
  height: 4px;
  font-size: 16px;
  overflow: hidden;
  background-color: $bgcolor;
  border-radius: 0.25rem;
  box-shadow: 0;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $primary;
  text-align: center;
  background-color: $primary;
  transition: all 0.2s ease-in-out;
}

.skill-list-item-description {
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


@media (min-width: 576px) {
  section.skills .col-md-4 {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}