@import 'fonts';
@import 'vars';
@import '_nav';
@import '_head';
@import '_works';
@import '_skills';
@import '_contact';


html {
  min-width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Circe', sans-serif;
  background: linear-gradient(225.11deg, #e5e9f2 0%, #dedef0 48.13%, #d8deee 100%);
}

.primary {
  color: $primary;
}

.container {
  padding: 0 40px;
}

a {
  color: $primary;
  text-decoration: none;
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s all;

  &:hover {
    opacity: 0.5;
    text-decoration: none;
  }
}

/* HEADER */
.header-intro-features {
  h2 { margin-bottom: 0; }
  p { margin-top: 0; }
}



section {
  margin-top: 10rem;
}

@import "~bootstrap/scss/bootstrap-grid";
