$primary : #2347ff;
$secondary: rgba($primary, 0.3);
$font-family-sans-serif: "Circe"      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$lead-font-weight : 400;
$bgcolor:#f4f7f9;

