doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    .container
      include includes/_nav.pug
      include includes/_header.pug
      include includes/_work.pug
      include includes/_skills.pug
      include includes/_contact.pug      
