header
      .row
          .col-md-6
            .header-intro
              .header-intro-text
                p.lead Hello and welcome here! 👋
                h1 My name is Nik Shilov.<br> And I’m a 
                  span.primary Product Designer
                p I help teams 🚀 with seeding, launch and scaling their projects creating  delightful digital experience to connect with their people. Audit and consulting projects, so they could grow big and awesome.
                p In ❤️ with   
                  span.primary #blockchain

              .row.header-intro-features
                .col-md-4
                  h2 $11.5M+
                  p Helped raises
                .col-md-4
                  h2 x110+
                  p Annual product growth
                .col-md-4
                  h2 7+ years
                  p UX, iA, Product design    
          .col-md-6
            <svg width="500" height="500" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M163.504 179.8v-6.016H163a1 1 0 0 1-1-1v-25.076a1 1 0 0 1 1-1h.504v-13.539H163a1 1 0 0 1-1-1v-13.794a1 1 0 0 1 1-1h.504V96.067C163.504 82.774 174.28 72 187.573 72h124.854c13.293 0 24.069 10.775 24.069 24.068V155H337a1 1 0 0 1 1 1v38a1 1 0 0 1-1 1h-.504v209.932c0 13.292-10.776 24.068-24.069 24.068H187.573c-13.293 0-24.069-10.776-24.069-24.068V206.877H163a1 1 0 0 1-1-1v-25.076a1 1 0 0 1 1-1h.504z" id="path-1"/><filter x="-82.4%" y="-18.2%" width="259.1%" height="175.6%" filterUnits="objectBoundingBox" id="filter-2"><feMorphology radius="5" in="SourceAlpha" result="shadowSpreadOuter1"/><feOffset dx="40" dy="40" in="shadowSpreadOuter1" result="shadowOffsetOuter1"/><feGaussianBlur stdDeviation="30" in="shadowOffsetOuter1" result="shadowBlurOuter1"/><feColorMatrix values="0 0 0 0 0.937181122 0 0 0 0 0 0 0 0 0 0.894046597 0 0 0 0.0640851449 0" in="shadowBlurOuter1" result="shadowMatrixOuter1"/><feMorphology radius="5" in="SourceAlpha" result="shadowSpreadOuter2"/><feOffset dx="-50" dy="30" in="shadowSpreadOuter2" result="shadowOffsetOuter2"/><feGaussianBlur stdDeviation="25" in="shadowOffsetOuter2" result="shadowBlurOuter2"/><feColorMatrix values="0 0 0 0 0 0 0 0 0 0.244208195 0 0 0 0 0.913531037 0 0 0 0.15 0" in="shadowBlurOuter2" result="shadowMatrixOuter2"/><feMerge><feMergeNode in="shadowMatrixOuter1"/><feMergeNode in="shadowMatrixOuter2"/></feMerge></filter><linearGradient x1="0%" y1="0%" y2="100%" id="linearGradient-3"><stop stop-color="#2347FF" offset="0%"/><stop stop-color="#0085EE" offset="49.969%"/><stop stop-color="#63E3FD" offset="100%"/></linearGradient><path d="M188.547 80.52l14.638.001a3 3 0 0 1 2.975 2.614C207.014 89.712 211.294 93 219 93h62c7.706 0 11.986-3.288 12.84-9.865a3 3 0 0 1 2.975-2.614h14.639C320.592 80.52 328 87.927 328 97.066v306.866c0 9.139-7.409 16.547-16.547 16.547H188.547c-9.14 0-16.547-7.408-16.547-16.547V97.067c0-9.138 7.407-16.547 16.546-16.547z" id="path-4"/></defs><g id="iphone" fill="none" fill-rule="evenodd"><g id="iPhone"><use fill="black" filter="url(#filter-2)" xlink:href="#path-1"/><use fill="#FFFFFF" xlink:href="#path-1"/></g><g id="Screen"><use fill="#F3F6F8" xlink:href="#path-4"/><use fill="url(#linearGradient-3)" xlink:href="#path-4"/></g></g></svg>
