- var social = [{title:"Dribbble", icon:"./images/dribbble.svg", link:"https://dribbble.com/nikshilov"}, {title:"Behance", icon:"./images/behance.svg", link:"https://behance.com/nikshilov"},{title:"Github", icon:"./images/github.svg", link:"https://github.com/nikshilov"},{title:"Facebook", icon:"./images/facebook.svg", link:"https://facebook.com/nikshilov"}, {title:"Instagram", icon:"./images/instagram.svg", link:"https://instagram.com/nikshilov"}, {title:"LinkedIn", icon:"./images/linkedin.svg", link:"https://linkedin.com/in/nikshilov"}];
- var navbarmenu = [{title:"Works", link:"#works"}, {title:"Skills", link:"#skills"}, {title:"CV", link:"#cv"}];  

mixin socialIconMix(socialitem)
  a.social-nav__item(href=socialitem.link)
    img(src=socialitem.icon, alt=socialitem.title)


mixin navbarmenumix(item)
  a.navbar__item(href=item.link)=item.title

//-
  mixin navbarmenumix(item)
    li.nav-item
      a.navbaritem(href=item.link)=item.title

nav.navbar
  a.navlogo(href="#") 
    <svg width="144" height="40" viewBox="0 0 144 40" xmlns="http://www.w3.org/2000/svg"><g id="logo" fill="none" fill-rule="evenodd"><g id="logo-copy-2" transform="translate(-6 -6)" fill="#000000"><path d="M27 22v24h-4.51L10 28v18H6V22h4.123L23 40.193V22h4zm8 24h-4V22h4v24zm13.6-15h4.81l-5.497 6.48L54 46h-5.123l-5.774-8.52L48.6 31zM43 46h-4V22h4v24zm30.544-6.439c0-.697-.259-1.312-.775-1.846-.517-.534-1.16-.97-1.93-1.307-.77-.338-1.61-.73-2.523-1.177a25.836 25.836 0 0 1-2.523-1.405c-.77-.49-1.412-1.177-1.929-2.06-.517-.882-.775-1.9-.775-3.055 0-1.765.649-3.258 1.946-4.478 1.341-1.22 3.089-1.83 5.244-1.83 2.924 0 5.123.817 6.596 2.451l-2.177 3.007c-1.165-1.133-2.528-1.7-4.09-1.7-.989 0-1.775.23-2.358.687-.582.457-.874 1.068-.874 1.83 0 .392.077.757.231 1.095.154.338.325.616.511.833.187.218.495.458.924.72.429.26.77.452 1.022.571.253.12.676.31 1.27.572.594.262 1.011.447 1.253.556.968.436 1.814.893 2.54 1.373.813.479 1.467 1.165 1.962 2.059.495.893.742 1.917.742 3.072 0 1.917-.736 3.475-2.21 4.673C74.148 45.401 72.312 46 70.114 46c-1.54 0-3.067-.316-4.584-.948-1.452-.653-2.441-1.536-2.969-2.647l2.309-2.745c.616.806 1.413 1.438 2.391 1.895.978.458 1.951.686 2.919.686 1.011 0 1.825-.24 2.44-.719.616-.479.924-1.133.924-1.96zM86 46l-4-.149V22l4 .073v9.897c1.1-1.067 1.736-1.298 3.473-1.298 4.068 0 5.527 2.75 5.527 7.043V46h-4v-8.52c0-1.089.084-1.66-.488-2.249-.572-.588-.973-1.03-2.028-1.03-1.275 0-1.583.406-2.484 1.299V46zm17 0h-4V31h4v15zm-1.939-21.881c1.03 0 1.939 1.021 1.939 2.043 0 1.02-.908 1.838-1.939 1.838-1.03 0-2.061-.817-2.061-1.838 0-1.022 1.03-2.043 2.061-2.043zM108 41V22h4l-.16 18.193c0 1.59.95 2.245 1.808 2.245.484 0 1-.197 1.55-.589l.791 2.876c-1.033.828-2.567 1.275-4.15 1.275-2.33 0-3.839-2.08-3.839-5zm11.716 2.843c-1.473-1.46-2.716-3.448-2.716-5.692 0-2.245 1.243-3.95 2.716-5.388C121.19 31.303 123.06 30 125.5 30c2.419 0 4.451 1.304 5.924 2.763C132.92 34.202 134 35.756 134 38c0 2.222-1.08 4.361-2.576 5.843-1.495 1.438-3.44 2.157-5.837 2.157-2.44 0-4.398-.719-5.87-2.157zm3.001-8.563c-.77.784-1.217 1.65-1.217 2.87 0 1.22.442 2.365 1.2 3.16.76.795 1.721 1.193 2.887 1.193 1.187 0 2.16-.392 2.918-1.177.759-.784 1.138-1.797 1.138-3.04 0-1.22-.384-2.222-1.154-3.006-.77-.784-1.737-1.177-2.902-1.177-1.144 0-2.1.393-2.87 1.177zM146 30h4l-6 16h-2.748l-6.375-16H139c2.143 6.534 3.31 10.201 3.5 11 .205-.828 1.372-4.495 3.5-11zM32.773 6l3.459 6.809h-6.87L32.772 6z" id="logo"/></g></g></svg>
  //-button(
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
    )

  .navbar-menu
    for item in navbarmenu
      +navbarmenumix(item)        

.social-nav
  p.primary Stalk me here   —
  for socialitem in social
    +socialIconMix(socialitem)    