- var designSkills = [{title:"UI", value:"90", time:"7+"},{title:"UX", value:"85", time:"6+"},{title:"Product design", value:"95", time:"7+"},{title:"Interaction Design", value:"75",time:"3+"},{title:"Rapid Prototyping", value:"85", time:"5+"}];
- var managementSkills = [{title:"Agile", value:"75", time:"3+"}, {title:"CustDev", value:"70", time:"3+"},{title:"Lean.Dev", value:"75", time:"3+"}, {title:"Workflow setup", value:"100", time:"5+"},{title:"Team Leadership", value:"75", time:"2+"}];
- var techSkills = [{title:"HTML/CSS/JS", value:"75", time:"1+"},{title:"Webpack/Gulp", value:"50", time:"1+"},{title:"VUE.js", value:"40", time:"1+"},{title:"Three.js/GSAP", value:"40", time:"1+"}];

mixin skillmix(skill)
  li.skills-list-item
    .skill-list-item-description
      span.skill-list-item-description__value=skill.title
      span.skill-list-item-description__value=skill.time+' years'
    .progress(style="height:4px;")
      div(class="progress-bar",style='width:'+skill.value+'%', role="progressbar", aria-valuenow=skill.value, aria-valuemin="0", aria-valuemax="100")
    


section.skills
  h2 Skills
  .row
    .col-md-4
      h3 Design
      ul.skills-list
        for skill in designSkills
          +skillmix(skill)
    .col-md-4
      h3 Management
      ul.skills-list
        for skill in managementSkills
          +skillmix(skill)      
    .col-md-4
      h3 Technical Stack
      ul.skills-list
        for skill in techSkills
          +skillmix(skill)            