section.works
  h2 Recent Works
  .row
    .col-md-8
      .portfolio-item
        img(src="./images/projects/gf-crm-dash-cover.svg" alt="Grow Food Dashboard")
        p Grow Food Dashboard
    .col-md-4
      .portfolio-item
        img(src="./images/projects/neosun-website-cover.svg" alt="Neosun Website")
        p Neosun Energy Website  
      .portfolio-item
        img(src="./images/projects/gf-crm-dash-cover.svg" alt="Grow Food Dashboard")
        p Grow Food CRM